<center>
<img src="../../img/ods_stickers.jpg">
    
## [mlcourse.ai](https://mlcourse.ai) - Open Machine Learning Course

Author: [Yury Kashnitsky](https://www.linkedin.com/in/festline/). Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/). All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already  in the repository)**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [8]:
data = pd.read_csv('../../data/adult.data.csv')
data.head(100)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,29,Local-gov,115585,Some-college,10,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,50,United-States,<=50K
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K
98,48,Private,171095,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,England,<=50K
99,32,Federal-gov,249409,HS-grad,9,Never-married,Other-service,Own-child,Black,Male,0,0,40,United-States,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [4]:
data.sex.value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [9]:
data[data['sex'] == 'Female']['age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [35]:
data['native-country'].value_counts(normalize=True)['Germany'] * 100

0.42074874850281013

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [40]:
data[data['salary'] =='>50K']['age'].mean()

44.24984058155847

In [41]:
data[data['salary'] =='>50K']['age'].std()

10.51902771985177

In [42]:
data[data['salary'] =='<=50K']['age'].mean()

36.78373786407767

In [43]:
data[data['salary'] =='<=50K']['age'].std()

14.020088490824813

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [45]:
data[data['salary'] =='>50K'].education.isin(['Bachelors','Prof-school','Assoc-acdm','Assoc-voc','Doctorate','Masters']).all()

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [47]:
data.groupby('race').describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                           fnlwgt                                         \
                     max    count           mean            std      min
race
Amer-Indian-Eskimo  82.0    311.0  120831.147910   88338.636336  12285.0
Asian-Pac-Islander  90.0   1039.0  159940.609240   85122.307505  14878.0
Black               90.0   3124.0  228013.124200  123600.677422  19752.0
Other               77.0    271.0  197124.191882   88856.775370  24562.0
White               90.0  27816.0  187298.064280  103124.944196  18827.0

                                                            education-num  \
                         25%       50%       75%        max         count
race
Amer-Indian-Eskimo   35036.5  102541.0  176142.0   445168.0         311.0
Asian-Pac-Islander   93321.0  143098.0  194456.0   506329.0        1039.0
Black               148212.0  205934.0  281693.0  1268339.0        3124.0
Other               138103.0  188793.0  240091.0   481175.0         271.0
White               116902.5  177627.0  233542.5  1484705.0       27816.0

                                                                     \
                         mean       std  min  25%   50%   75%   max
race
Amer-Indian-Eskimo   9.311897  2.310387  2.0  9.0   9.0  10.0  16.0
Asian-Pac-Islander  10.960539  2.811582  1.0  9.0  10.0  13.0  16.0
Black                9.486236  2.297893  1.0  9.0   9.0  10.0  16.0
Other                8.841328  3.226153  1.0  7.5   9.0  10.0  16.0
White               10.135246  2.570307  1.0  9.0  10.0  13.0  16.0

                   capital-gain                                                \
                          count         mean          std  min  25%  50%  75%
race
Amer-Indian-Eskimo        311.0   625.266881  2753.238961  0.0  0.0  0.0  0.0
Asian-Pac-Islander       1039.0  1478.358037  9986.156906  0.0  0.0  0.0  0.0
Black                    3124.0   609.940461  5139.653447  0.0  0.0  0.0  0.0
Other                     271.0   934.660517  8625.128995  0.0  0.0  0.0  0.0
White                   27816.0  1121.660375  7504.533302  0.0  0.0  0.0  0.0

                            capital-loss                                   \
                        max        count       mean         std  min  25%
race
Amer-Indian-Eskimo  27828.0        311.0  34.176849  245.583106  0.0  0.0
Asian-Pac-Islander  99999.0       1039.0  97.222329  423.556931  0.0  0.0
Black               99999.0       3124.0  60.385083  337.394121  0.0  0.0
Other               99999.0        271.0  61.070111  322.452705  0.0  0.0
White               99999.0      27816.0  90.806155  410.833347  0.0  0.0

                                     hours-per-week                        \
                    50%  75%     max          count       mean        std
race
Amer-Indian-Eskimo  0.0  0.0  1980.0          311.0  40.048232  11.695364
Asian-Pac-Islander  0.0  0.0  2457.0         1039.0  40.127045  12.556816
Black               0.0  0.0  4356.0         3124.0  38.422855  10.315646
Other               0.0  0.0  2179.0          271.0  39.468635  11.143755
White               0.0  0.0  4356.0        27816.0  40.689100  12.544796


                    min   25%   50%   75%   max
race
Amer-Indian-Eskimo  3.0  40.0  40.0  40.0  84.0
Asian-Pac-Islander  1.0  40.0  40.0  40.0  99.0
Black               1.0  37.0  40.0  40.0  99.0
Other               5.0  36.0  40.0  40.0  98.0
White               1.0  40.0  40.0  45.0  99.0

In [48]:
data.groupby('sex').describe()

            age                                                       fnlwgt  \
          count       mean        std   min   25%   50%   75%   max    count
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0  10771.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0  21790.0

                                                                               \
                 mean            std      min        25%       50%        75%
sex
Female  185746.311206  102986.078821  12285.0  117363.00  176077.0  228331.50
Male    191771.449013  106740.702676  13769.0  118200.75  180140.0  241146.25

                  education-num                                             \
              max         count       mean       std  min  25%   50%   75%
sex
Female  1484705.0       10771.0  10.035744  2.379954  1.0  9.0  10.0  12.0
Male    1455435.0       21790.0  10.102891  2.662630  1.0  9.0  10.0  13.0

             capital-gain                                                \
         max        count         mean          std  min  25%  50%  75%
sex
Female  16.0      10771.0   568.410547  4924.262944  0.0  0.0  0.0  0.0
Male    16.0      21790.0  1329.370078  8326.312095  0.0  0.0  0.0  0.0

                capital-loss                                              \
            max        count        mean         std  min  25%  50%  75%
sex
Female  99999.0      10771.0   61.187633  340.907518  0.0  0.0  0.0  0.0
Male    99999.0      21790.0  100.213309  429.763097  0.0  0.0  0.0  0.0

               hours-per-week                                               \
           max          count       mean        std  min   25%   50%   75%
sex
Female  4356.0        10771.0  36.410361  11.811300  1.0  30.0  40.0  40.0
Male    3770.0        21790.0  42.428086  12.119755  1.0  40.0  40.0  49.0


         max
sex
Female  99.0
Male    99.0

In [52]:
data[data['race'] == 'Amer-Indian-Eskimo'][data['sex'] == 'Male'].age.max()

82

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [75]:
data['married'] = data['marital-status'].isin(['Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'])
data[data['salary'] =='>50K']['married'].value_counts()

True     6736
False    1105
Name: married, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [76]:
data['hours-per-week'].max()

99

In [91]:
data[data['hours-per-week'] == 99].shape[0]

85

In [94]:
data[data['hours-per-week'] == 99]['salary'].value_counts(normalize=True)['>50K']

0.29411764705882354

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [102]:
data[data['salary'] =='<=50K'].groupby('native-country')['hours-per-week'].mean()

native-country
?                             40.164760
Cambodia                      41.416667
Canada                        37.914634
China                         37.381818
Columbia                      38.684211
Cuba                          37.985714
Dominican-Republic            42.338235
Ecuador                       38.041667
El-Salvador                   36.030928
England                       40.483333
France                        41.058824
Germany                       39.139785
Greece                        41.809524
Guatemala                     39.360656
Haiti                         36.325000
Holand-Netherlands            40.000000
Honduras                      34.333333
Hong                          39.142857
Hungary                       31.300000
India                         38.233333
Iran                          41.440000
Ireland                       40.947368
Italy                         39.625000
Jamaica                       38.239437
Japan                         41.000000
Laos                          40.375000
Mexico                        40.003279
Nicaragua                     36.093750
Outlying-US(Guam-USVI-etc)    41.857143
Peru                          35.068966
Philippines                   38.065693
Poland                        38.166667
Portugal                      41.939394
Puerto-Rico                   38.470588
Scotland                      39.444444
South                         40.156250
Taiwan                        33.774194
Thailand                      42.866667
Trinadad&Tobago               37.058824
United-States                 38.799127
Vietnam                       37.193548
Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64

In [103]:
data[data['salary'] =='>50K'].groupby('native-country')['hours-per-week'].mean()

native-country
?                     45.547945
Cambodia              40.000000
Canada                45.641026
China                 38.900000
Columbia              50.000000
Cuba                  42.440000
Dominican-Republic    47.000000
Ecuador               48.750000
El-Salvador           45.000000
England               44.533333
France                50.750000
Germany               44.977273
Greece                50.625000
Guatemala             36.666667
Haiti                 42.750000
Honduras              60.000000
Hong                  45.000000
Hungary               50.000000
India                 46.475000
Iran                  47.500000
Ireland               48.000000
Italy                 45.400000
Jamaica               41.100000
Japan                 47.958333
Laos                  40.000000
Mexico                46.575758
Nicaragua             37.500000
Peru                  40.000000
Philippines           43.032787
Poland                39.000000
Portugal              41.500000
Puerto-Rico           39.416667
Scotland              46.666667
South                 51.437500
Taiwan                46.800000
Thailand              58.333333
Trinadad&Tobago       40.000000
United-States         45.505369
Vietnam               39.200000
Yugoslavia            49.500000
Name: hours-per-week, dtype: float64

In [107]:
data[data['salary'] =='<=50K'].groupby('native-country')['hours-per-week'].mean()['Japan']

41.0

In [108]:
data[data['salary'] =='>50K'].groupby('native-country')['hours-per-week'].mean()['Japan']

47.958333333333336